<launch>

 <node pkg="ro-to-go" type="managerFormSplit.py" name="manager">
 </node>

 <node pkg="ro-to-go" type="initiator.py" name="initiator">
 </node>

 <node pkg="ro-to-go" type="logger.py" name="logger">
 </node>

 <node pkg="ro-to-go" type="plannerFormSplit.py" name="longHorz">
 </node>

 <node pkg="ro-to-go" type="truther.py" name="predicates">
 </node>

 <node pkg="ro-to-go" type="controller.py" name="controller">
 </node>

 <rosparam file="$(find ro-to-go)/config/params.yaml" />

</launch>
